@media screen and (min-width:1025px) {
    
    .section1{
        padding: 0 160px;
        
    }

    /* section 2 starting */
    .grid1{
        grid-template-columns: repeat(4, minmax(0px, 1fr));
    }
    .grid2{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .grid3{
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
    .grid4{
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .footer-grid-container{
         grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}